[submodule "doctest"]
	path = doctest
	url = https://github.com/doctest/doctest.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "nanobench"]
	path = nanobench
	url = https://github.com/martinus/nanobench.git
